*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{ 
    /* background-color: red; */
    height: 50px;

}

main{
    position: fixed;
    left: 0;
    right: 0;
    background-color: black;
    height: calc(100% - 125px)
}

footer{
    background-color: grey;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
   
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100% / 7 - 6px);
    border: 1px solid black;
    margin: 3px;

}

.content img{
    max-width: 100%;
    height: 100%;
}

.justify-center{
    justify-content: center;
}

.py-5{
    padding: 5px 0px;
}

.pz-5{
    padding: 0px 5px;
}
.py-10{
    padding: 10px 0px;
}
.py-20{
    padding: 20px 0px;
}
.py-80{
    padding: 80px 0px;
}

.bg-grey{
    background-color: darkgrey;
}

.col-25{
    width: 25%;
    border: 1px solid black;
}

.col-50{
    width: 50%;
    border: 1px solid black;

}

.bg-blue{
    background-color: blue;
}

.bg-gold{
    background-color: gold;
}

.bg-green{
    background-color: green;
}


